In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r"C:\Users\Dhruvin\Desktop\F1 Project\CSV Files\circuits.csv")
df

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park
...,...,...,...,...,...,...,...,...,...
72,75,portimao,Autódromo Internacional do Algarve,Portimão,Portugal,37.22700,-8.62670,108,http://en.wikipedia.org/wiki/Algarve_Internati...
73,76,mugello,Autodromo Internazionale del Mugello,Mugello,Italy,43.99750,11.37190,255,http://en.wikipedia.org/wiki/Mugello_Circuit
74,77,jeddah,Jeddah Corniche Circuit,Jeddah,Saudi Arabia,21.63190,39.10440,15,http://en.wikipedia.org/wiki/Jeddah_Street_Cir...
75,78,losail,Losail International Circuit,Al Daayen,Qatar,25.49000,51.45420,\N,http://en.wikipedia.org/wiki/Losail_Internatio...
76,79,miami,Miami International Autodrome,Miami,USA,25.95810,-80.23890,\N,http://en.wikipedia.org/wiki/Miami_Internation...

In [12]:
df.drop(columns = 'url',inplace = True)

KeyError: "['url'] not found in axis"

In [14]:
df.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130

In [17]:
df.dtypes
df['lat'] = round(df['lat'],2)
df['lng'] = round(df['lng'],2)

In [18]:
df.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.85,144.97,10
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76,101.74,18
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03,50.51,7
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26,109
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95,29.40,130

In [19]:
df.to_pickle('circuits_cleaned.csv')

In [31]:
df2 = pd.read_csv(r"C:\Users\Dhruvin\Desktop\F1 Project\CSV Files\constructor_results.csv")
df2.head()
df2.tail()
df2.drop(columns = 'status',inplace=True)

In [33]:
df2.head()
df2.to_pickle('constructor_results_cleaned.csv')

In [49]:
df3 = pd.read_csv(r"C:\Users\Dhruvin\Desktop\F1 Project\CSV Files\constructor_standings.csv")
df3.head()

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
0,1,18,1,14.0,1,1,1
1,2,18,2,8.0,3,3,0
2,3,18,3,9.0,2,2,0
3,4,18,4,5.0,4,4,0
4,5,18,5,2.0,5,5,0

In [48]:
df3.dtypes
df3['positionText'].unique()

array(['1', '3', '2', '4', '5', '6', '8', '7', '9', '10', '11', 'E', '12',
       '13', '14', '15', '18', '17', '16', '19', '20', '21', '22'],
      dtype=object)

In [51]:
df4 = pd.read_csv(r"C:\Users\Dhruvin\Desktop\F1 Project\CSV Files\constructors.csv")
df4.head()
df4.drop(columns='url', inplace = True)

In [53]:
df4.head()
df4.to_pickle('constructors_cleaned.csv')

In [116]:
df5 = pd.read_csv(r"C:\Users\Dhruvin\Desktop\F1 Project\CSV Files\drivers.csv")
df5
df5.drop(columns = 'url',inplace=True)

In [127]:
df5.head()
df5['number'] = df5['number'].replace('\\N',0)
df5['number'].unique()

array(['44', 0, '6', '14', '7', '88', '19', '99', '22', '5', '8', '10',
       '27', '13', '11', '3', '25', '4', '21', '77', '17', '20', '26',
       '45', '9', '28', '33', '12', '55', '98', '53', '30', '94', '2',
       '31', '18', '16', '35', '63', '23', '51', '89', '47', '24', '81'],
      dtype=object)

In [140]:
df5['number'] = df5['number'].astype(int)
df5['number'].replace(0,'',inplace=True)

ValueError: invalid literal for int() with base 10: ''

In [141]:
df5.dtypes

driverId        int64
driverRef      object
number         object
code           object
forename       object
surname        object
dob            object
nationality    object
dtype: object

In [143]:
df5['dob'] = pd.to_datetime(df5['dob'])
df5['dob'] = df5['dob'].dt.strftime('%d-%m-%Y')
df5.head()
df5.to_pickle('drivers_cleaned.csv')

In [35]:
df6 = pd.read_csv(r"C:\Users\Dhruvin\Desktop\F1 Project\CSV Files\races.csv")
df6.head()

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [40]:
df6.drop(columns='url',inplace=True)

KeyError: "['url'] not found in axis"

In [47]:
df6.head()
df6.replace('\\N',np.nan, inplace=True)
df6.tail()

,raceId,year,round,circuitId,name,date,time,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
1096,1116,2023,18,69,United States Grand Prix,2023-10-22,19:00:00,2023-10-20,17:30:00,2023-10-21,18:00:00,NaN,NaN,2023-10-20,21:00:00,2023-10-21,22:00:00
1097,1117,2023,19,32,Mexico City Grand Prix,2023-10-29,20:00:00,2023-10-27,18:30:00,2023-10-27,22:00:00,2023-10-28,17:30:00,2023-10-28,21:00:00,NaN,NaN
1098,1118,2023,20,18,São Paulo Grand Prix,2023-11-05,17:00:00,2023-11-03,14:30:00,2023-11-04,14:30:00,NaN,NaN,2023-11-03,18:00:00,2023-11-04,18:30:00
1099,1119,2023,21,80,Las Vegas Grand Prix,2023-11-19,06:00:00,2023-11-17,04:30:00,2023-11-17,08:00:00,2023-11-18,04:30:00,2023-11-18,08:00:00,NaN,NaN
1100,1120,2023,22,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00,2023-11-24,09:30:00,2023-11-24,13:00:00,2023-11-25,10:30:00,2023-11-25,14:00:00,NaN,NaN

In [58]:
df6.dtypes

df6['quali_date'] = pd.to_datetime(df6['quali_date'])
df6['quali_date'] = df6['quali_date'].dt.strftime('%d-%m-%Y')

df6['date'] = pd.to_datetime(df6['date'])
df6['date'] = df6['date'].dt.strftime('%d-%m-%Y')
df6.drop(columns = ['fp1_date','fp1_time','fp2_date','fp2_time','fp3_date','fp3_time'], inplace=True)

In [60]:
df6.tail()
df6.to_pickle('races_cleaned.csv')

In [69]:
df7 = pd.read_csv(r"C:\Users\Dhruvin\Desktop\F1 Project\CSV Files\seasons.csv")
df7.head(100)
df7.drop(columns = 'url',inplace=True)

In [71]:
df7.dtypes
df7.to_pickle('seasons_cleaned.csv')

In [76]:
df8 = pd.read_csv(r"C:\Users\Dhruvin\Desktop\F1 Project\CSV Files\status.csv")
df8.head(200)

     statusId          status
0           1        Finished
1           2    Disqualified
2           3        Accident
3           4       Collision
4           5          Engine
..        ...             ...
134       137          Damage
135       138          Debris
136       139         Illness
137       140       Undertray
138       141  Cooling system

[139 rows x 2 columns]